<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      
        <title>Page not found - {{ .Site.Title }}</title>    

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"
            integrity="sha256-zIG416V1ynj3Wgju/scU80KAEWOsO5rRLfVyRDuOv7Q="
            crossorigin="anonymous" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
            integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
            crossorigin="anonymous">

        <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js"
            integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a"
            crossorigin="anonymous"
            async></script>
            
        {{ if .Site.GoogleAnalytics }}
          {{ template "_internal/google_analytics_async.html" . }}
        {{ end }}
  </head>
  <body>
      
        <section class="hero is-danger is-fullheight" style="background-color: {{ .Site.Params.Design.Color }};">
                <div class="hero-body">
                  <div class="container has-text-centered">
                    <h1 class="title">
                      <span class="icon is-large">
                        <i class="fa fa-exclamation-circle"></i>
                      </span>
                      404 Page not found
                    </h1>
                    <h2 class="subtitle">
                      <p class="lead">
                        We couldn't find what you're looking for.
                      </p>
                    </h2>
                     <a class="button" href="{{ .Site.BaseURL }}">Back</a>
                  </div>
                </div>
              </section>

</body>
</html>