<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="{{ .Site.Params.Design.Color }}">
        {{ if isset .Site.Author "name" }}<meta name="author" content="{{ index .Site.Author "name" }}">{{ end }}
        <meta name="keywords" content="{{ if .Params.Tags }}{{ delimit .Params.Tags ", " }}{{ else }}{{ delimit .Site.Params.Meta.Keywords ", " }}{{ end }}">
        
        {{ if eq .IsHome true -}}
            {{- $titleHome := "AWS Data Engineer and DevOps Expert for hire!" -}}
            {{- $descHome := "AWS Data Engineer and DevOps Expert for hire! - GetGoetz.com" -}}
            <link rel="canonical" href="https://www.getgoetz.com"/>
            <title>{{ $titleHome }}</title>
            <meta property="og:title" content="{{ $titleHome }}">
            <meta name="description" content="{{ $descHome }}">
            <meta property="og:description" content="{{ $descHome }}">
        {{- else -}}
            <title>{{ .Title }}{{ if eq .IsHome false }} - {{ .Site.Title }}{{ end }}</title>
            <meta property="og:title" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}">
            <meta name="description" content="{{ if gt (len .Summary) 0  }}{{ .Summary | html }}{{ else }}{{ if eq .Title .Site.Title }}{{ .Site.Params.Meta.Description }}{{ else }}{{ .Title }}{{ end }}{{ end }}">
            <meta property="og:description" content="{{ if gt (len .Summary) 0  }}{{ .Summary | html }}{{ else }}{{ if eq .Title .Site.Title }}{{ .Site.Params.Meta.Description }}{{ else }}{{ .Title }}{{ end }}{{ end }}">
        {{ end }}

        <meta property="og:url" content="{{ .Permalink }}" />
        <meta property="og:locale" content="en_GB" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="GetGoetz.com" />
      
        <meta name="geo.region" content="DE-BY" />
        <meta name="geo.placename" content="M&uuml;nchen" />
        <meta name="geo.position" content="48.135125;11.58198" />
        <meta name="ICBM" content="48.135125, 11.58198" />

        {{ range .AlternativeOutputFormats -}}
            {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML -}}
        {{ end }}

        <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}/img/blog/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}/img/blog/favicons/favicon-16x16.png">
        <link rel="shortcut icon" href="{{ .Site.BaseURL }}/img/blog/favicons/favicon.ico">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"
            integrity="sha256-zIG416V1ynj3Wgju/scU80KAEWOsO5rRLfVyRDuOv7Q="
            crossorigin="anonymous" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
            integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
            crossorigin="anonymous">
        <style type="text/css">
            /* Bulma color tweeks */
            a {
                color: {{ .Site.Params.Design.Color }};
            }
            .article-margin {
                padding-bottom: 50px;
            }
            .pagination-link.is-current {
                background-color: {{ .Site.Params.Design.Color }};
                border-color: {{ .Site.Params.Design.Color }};
            }
            /* Custom */
            .box--hire {
                z-index: 10;
                position: absolute;
                top: 0.5em;
                right: 0.5em;
            }
            .box--hire--link span {
                color: {{ .Site.Params.Design.Color }};
            }
            .profile--image {
                border-radius: 50%;
                width: 100%;
                max-width: 500px;
            }
            .footer--pager {
              padding-top: 0;
              padding-bottom: 0;
            }
        </style>

        {{ if eq .IsHome false }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css"
            integrity="sha256-Zd1icfZ72UBmsId/mUcagrmN7IN5Qkrvh75ICHIQVTk="
            crossorigin="anonymous" />
        {{ end }}

        <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js"
            integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a"
            crossorigin="anonymous"
            async></script>

        {{ if eq .IsHome false }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"
            integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw="
            crossorigin="anonymous"
            async></script>
        <script>hljs.initHighlightingOnLoad();</script>
        {{ end }}

        {{ if .Site.GoogleAnalytics }}
          {{ template "_internal/google_analytics_async.html" . }}
        {{ end }}
  </head>
  <body>

        <div class="box--hire">
            {{ if eq .IsHome false }}
                <a class="button is-white" href="{{ .Site.BaseURL }}" alt="Link to root of page">
                    <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                    </span>
                    <span>Home</span>
                </a>
            {{ end }}

            {{ if eq .Title "Blogs" }}
                {{ with .OutputFormats.Get "rss" }}
                    {{ if gt (len .Permalink) 0 }}
                        <a class="button is-white" href="{{ printf `%s` .Permalink | safeHTML }}" alt="Link to RSS feed">
                            <span class="icon">
                                <i class="fas fa-rss"></i>
                            </span>
                            <span>RSS</span>
                        </a>
                    {{ end -}}
                {{ end -}}
            {{ else -}}
                <a class="button is-white" href="{{ .Site.BaseURL }}/blog" alt="Link to blog overview">
                    <span class="icon">
                        <i class="fab fa-blogger-b"></i>
                    </span>
                    <span>Blog</span>
                </a>
            {{ end -}}
            <a class="box--hire--link button is-white" href="mailto:%22Goetz%20Epperlein%22%3Cnow%40getgoetz.com%3E" alt="Link generate mail to Goetz">
                <span class="icon">
                    <i class="far fa-envelope"></i>
                </span>
                <span>Hire!</span>
            </a>
        </div>